Repository schlafen318/dual-momentum: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-rebalancing-execution-order, test-cash-management, check-test-coverage, check-docstrings

.pre-commit-config.yaml:

# Pre-commit hooks to catch issues before they're committed
# Install: pip install pre-commit && pre-commit install

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-merge-conflict
      - id: debug-statements
      - id: mixed-line-ending

  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        language_version: python3
        files: ^(src|tests)/.*\.py$

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        args: ['--max-line-length=120', '--extend-ignore=E203,W503']
        files: ^(src|tests)/.*\.py$

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ['--profile', 'black']
        files: ^(src|tests)/.*\.py$

  - repo: local
    hooks:
      # Run critical tests before commit
      - id: test-rebalancing-execution-order
        name: Test sell-before-buy execution order
        entry: bash -c 'cd dual_momentum_system && pytest tests/test_rebalancing_execution_order.py::TestRebalancingExecutionOrder::test_sell_before_buy_execution_order -v'
        language: system
        pass_filenames: false
        files: ^dual_momentum_system/src/backtesting/engine\.py$
      
      - id: test-cash-management
        name: Test cash management
        entry: bash -c 'cd dual_momentum_system && pytest tests/test_cash_management_integration.py::TestCashManagementIntegration::test_cash_never_goes_negative -v'
        language: system
        pass_filenames: false
        files: ^dual_momentum_system/src/backtesting/engine\.py$
      
      - id: check-test-coverage
        name: Check test coverage for modified files
        entry: bash -c 'cd dual_momentum_system && pytest --cov=src --cov-report=term-missing --cov-fail-under=70'
        language: system
        pass_filenames: false
        files: ^dual_momentum_system/src/.*\.py$
      
      - id: check-docstrings
        name: Check that tests have docstrings
        entry: python
        language: system
        pass_filenames: false
        files: ^dual_momentum_system/tests/test_.*\.py$
        args:
          - -c
          - |
            import ast
            import sys
            from pathlib import Path
            
            missing_docs = []
            for test_file in Path('dual_momentum_system/tests').rglob('test_*.py'):
                try:
                    tree = ast.parse(test_file.read_text())
                    for node in ast.walk(tree):
                        if isinstance(node, ast.FunctionDef) and node.name.startswith('test_'):
                            if not ast.get_docstring(node):
                                missing_docs.append(f'{test_file.name}::{node.name}')
                except SyntaxError:
                    continue
            
            if missing_docs:
                print('❌ Tests missing docstrings:')
                for item in missing_docs[:10]:
                    print(f'  - {item}')
                if len(missing_docs) > 10:
                    print(f'  ... and {len(missing_docs) - 10} more')
                sys.exit(1)

Fix: Use pip constraints file to force dependency versions
  CONSTRAINTS_FILE_SOLUTION.md
Due: none

Fix: Disable vectorbt and numba to resolve Python 3.10 conflicts
  dual_momentum_system/requirements.txt
Due: none

Remove numba and llvmlite (only needed for vectorbt)
  dual_momentum_system/requirements.txt
Due: none

Fix: Disable vectorbt in ROOT requirements.txt for CI
  requirements.txt
Due: none

Fix: Update upload-artifact to v4 (v3 deprecated)
  .github/workflows/tests.yml
Due: none

Fix: Disable coverage for performance-benchmarks job
  .github/workflows/tests.yml
Due: none

fix: Pin NumPy to 1.x for vectorbt compatibility
  requirements.txt
Due: none

Add multi-strategy to asset class (#54)
  MULTI_STRATEGY_IMPLEMENTATION.md
  dual_momentum_system/frontend/page_modules/asset_universe_manager.py
  dual_momentum_system/frontend/page_modules/strategy_builder.py
  requirements.txt
Due: none

feat: Add user flow validation documentation
  EXECUTIVE_SUMMARY.md
  FLOW_VERIFICATION_COMPLETE.md
  USER_FLOW_DIAGRAM.md
  USER_FLOW_VALIDATION_REPORT.md
  VALIDATION_DOCUMENTS_INDEX.md
Due: none

feat: Add button and navigation verification reports
  BUTTON_NAVIGATION_VERIFICATION.md
  FINAL_VERIFICATION_SUMMARY.md
Due: none

Fix: Improve navigation logic by directly setting widget state
  NAVIGATION_BUG_FIX.md
  dual_momentum_system/frontend/app.py
Due: none

feat: Add coverage data and backtest log
  .coverage
  dual_momentum_system/.coverage
  logs/backtest_AbsoluteMomentumStrategy_20251026_062243.log
Due: none

Fix: Make hyperparameter tests visible and runnable
  TESTS_NOW_VISIBLE_GUIDE.md
  dual_momentum_system/.coverage
Due: none

feat: Implement longest available date range with auto-query
  LONGEST_AVAILABLE_IMPLEMENTATION_SUMMARY.md
  dual_momentum_system/.coverage
  dual_momentum_system/frontend/page_modules/hyperparameter_tuning.py
  dual_momentum_system/frontend/page_modules/strategy_builder.py
  dual_momentum_system/tests/test_longest_available_date_range.py
Due: check-docstrings

feat: Add optimization method comparison functionality
  OPTIMIZATION_METHOD_COMPARISON_FEATURE.md
  dual_momentum_system/OPTIMIZATION_METHOD_COMPARISON_GUIDE.md
  dual_momentum_system/QUICK_START_METHOD_COMPARISON.md
  dual_momentum_system/examples/optimization_method_comparison_demo.py
  dual_momentum_system/frontend/page_modules/hyperparameter_tuning.py
  dual_momentum_system/src/backtesting/__init__.py
  dual_momentum_system/src/backtesting/hyperparameter_tuner.py
  dual_momentum_system/tests/test_hyperparameter_tuner.py
Due: check-test-coverage, check-docstrings

feat: Implement 7 portfolio optimization methods
  PORTFOLIO_OPTIMIZATION_FEATURE_SUMMARY.md
  PORTFOLIO_OPTIMIZATION_METHODS_GUIDE.md
  dual_momentum_system/QUICK_START_PORTFOLIO_OPTIMIZATION.md
  dual_momentum_system/examples/portfolio_optimization_comparison_demo.py
  dual_momentum_system/src/portfolio_optimization/__init__.py
  dual_momentum_system/src/portfolio_optimization/base.py
  dual_momentum_system/src/portfolio_optimization/comparison.py
  dual_momentum_system/src/portfolio_optimization/methods.py
Due: check-test-coverage

feat: Add portfolio optimization comparison
  COMPLETE_FEATURE_DELIVERY_SUMMARY.md
  HOW_TO_RUN_PORTFOLIO_OPTIMIZATION.md
  USER_GUIDE_PORTFOLIO_OPTIMIZATION.md
  dual_momentum_system/PORTFOLIO_OPTIMIZATION_QUICK_REFERENCE.md
  dual_momentum_system/RUNNING_PORTFOLIO_OPTIMIZATION.md
  dual_momentum_system/START_HERE.md
  dual_momentum_system/examples/view_portfolio_results.py
  dual_momentum_system/run_portfolio_comparison.sh
Due: none

feat: Add portfolio optimization page and integration
  STREAMLIT_INTEGRATION_COMPLETE.md
  dual_momentum_system/STREAMLIT_PORTFOLIO_OPTIMIZATION_GUIDE.md
  dual_momentum_system/STREAMLIT_QUICK_START.md
  dual_momentum_system/frontend/app.py
  dual_momentum_system/frontend/page_modules/home.py
  dual_momentum_system/frontend/page_modules/portfolio_optimization.py
Due: none

Checkpoint before follow-up message
  dual_momentum_system/IMPORT_ERROR_FIXED.md
  dual_momentum_system/IMPORT_FIX_VERIFICATION.md
  dual_momentum_system/src/portfolio_optimization/__init__.py
Due: check-test-coverage

feat: Add documentation and script for optimization UIs
  dual_momentum_system/FIND_OPTIMIZATION_UI_VISUAL_GUIDE.md
  dual_momentum_system/HOW_TO_ACCESS_OPTIMIZATION_UI.md
  dual_momentum_system/README_OPTIMIZATION_UI.txt
  dual_momentum_system/START_OPTIMIZATION_UI.sh
Due: none

feat: Add yfinance fallback for data loading
  dual_momentum_system/.coverage
  dual_momentum_system/ALL_ERRORS_FIXED_COMPLETE.md
  dual_momentum_system/DATA_LOADING_FIXED.md
  dual_momentum_system/FINAL_VERIFICATION.md
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251030_033548.2025-10-30_03-37-06_783595.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251030_033549.2025-10-30_03-37-11_771567.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251030_033550.2025-10-30_03-37-16_871534.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251030_033552.2025-10-30_03-37-20_995505.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251030_033553.2025-10-30_03-37-25_087473.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251030_033554.2025-10-30_03-37-26_611460.log.zip
  dual_momentum_system/src/data_sources/yahoo_finance_direct.py
Due: check-test-coverage

feat: Integrate Strategy Builder with Portfolio Optimization
  dual_momentum_system/STATE_INTEGRATION_COMPLETE.md
  dual_momentum_system/STATE_MANAGEMENT_FIX.md
  dual_momentum_system/frontend/page_modules/portfolio_optimization.py
  dual_momentum_system/frontend/page_modules/strategy_builder.py
Due: none

Fix data loading AttributeError and improve error handling
  dual_momentum_system/ALL_BUGS_FIXED_FINAL.md
  dual_momentum_system/PORTFOLIO_OPT_BUG_FIXED.md
  dual_momentum_system/frontend/page_modules/portfolio_optimization.py
Due: none

Fix: Correct portfolio metric calculations and display
  dual_momentum_system/ALL_METRICS_CORRECT_FINAL.md
  dual_momentum_system/METRICS_VALIDATION_FINAL.md
  dual_momentum_system/SHARPE_RATIO_BUG_FIXED.md
  dual_momentum_system/frontend/page_modules/portfolio_optimization.py
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251030_100653.2025-10-30_10-08-50_773286.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251030_100655.2025-10-30_10-08-56_896645.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251030_100657.2025-10-30_10-09-03_056009.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251030_100659.2025-10-30_10-09-09_851317.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251030_100701.2025-10-30_10-09-19_542349.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251030_100702.2025-10-30_10-09-23_417967.log.zip
  dual_momentum_system/src/portfolio_optimization/base.py
Due: check-test-coverage

Refactor portfolio optimization to store lightweight data
  dual_momentum_system/WEBSOCKET_ERROR_FIX.md
  dual_momentum_system/frontend/page_modules/portfolio_optimization.py
Due: none

Fix: Separate display and processing dataframes
  dual_momentum_system/ALL_PORTFOLIO_BUGS_FIXED.md
  dual_momentum_system/COLUMN_NAME_FIX.md
  dual_momentum_system/frontend/page_modules/portfolio_optimization.py
Due: none

feat: Add portfolio optimization to BacktestEngine
  dual_momentum_system/src/backtesting/engine.py
  dual_momentum_system/tests/test_backtest_engine_portfolio_optimization.py
Due: test-rebalancing-execution-order, test-cash-management, check-test-coverage, check-docstrings

feat: Add portfolio optimization to strategy builder
  dual_momentum_system/frontend/page_modules/strategy_builder.py
Due: none

Refactor portfolio optimization summary display
  dual_momentum_system/frontend/page_modules/strategy_builder.py
Due: none

feat: Add optimization method comparison to backtesting
  dual_momentum_system/OPTIMIZATION_METHOD_COMPARISON_GUIDE.md
  dual_momentum_system/examples/optimization_comparison_backtest_demo.py
  dual_momentum_system/frontend/page_modules/backtest_results.py
  dual_momentum_system/src/backtesting/__init__.py
  dual_momentum_system/src/backtesting/optimization_comparison.py
Due: check-test-coverage

Fix: Import List from typing in backtest_results
  dual_momentum_system/FIX_LIST_IMPORT_ERROR.md
  dual_momentum_system/frontend/page_modules/backtest_results.py
Due: none

feat: Improve optimization comparison error handling and validation
  dual_momentum_system/FIX_OPTIMIZATION_COMPARISON_ERROR.md
  dual_momentum_system/OPTIMIZATION_COMPARISON_TROUBLESHOOTING.md
  dual_momentum_system/frontend/page_modules/backtest_results.py
  dual_momentum_system/src/backtesting/optimization_comparison.py
Due: check-test-coverage

Fix: Handle DataFrame input for optimization comparison
  FINAL_SUMMARY.md
  OPTIMIZATION_COMPARISON_CHECKLIST.md
  OPTIMIZATION_COMPARISON_COMPLETE.md
  dual_momentum_system/FIX_DATAFRAME_TO_PRICEDATA_ERROR.md
  dual_momentum_system/OPTIMIZATION_COMPARISON_FINAL_STATUS.md
  dual_momentum_system/frontend/page_modules/backtest_results.py
  dual_momentum_system/src/backtesting/optimization_comparison.py
Due: check-test-coverage
