Repository schlafen318/dual-momentum: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-rebalancing-execution-order, test-cash-management, check-test-coverage, check-docstrings

.pre-commit-config.yaml:

# Pre-commit hooks to catch issues before they're committed
# Install: pip install pre-commit && pre-commit install

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-merge-conflict
      - id: debug-statements
      - id: mixed-line-ending

  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        language_version: python3
        files: ^(src|tests)/.*\.py$

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        args: ['--max-line-length=120', '--extend-ignore=E203,W503']
        files: ^(src|tests)/.*\.py$

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ['--profile', 'black']
        files: ^(src|tests)/.*\.py$

  - repo: local
    hooks:
      # Run critical tests before commit
      - id: test-rebalancing-execution-order
        name: Test sell-before-buy execution order
        entry: bash -c 'cd dual_momentum_system && pytest tests/test_rebalancing_execution_order.py::TestRebalancingExecutionOrder::test_sell_before_buy_execution_order -v'
        language: system
        pass_filenames: false
        files: ^dual_momentum_system/src/backtesting/engine\.py$
      
      - id: test-cash-management
        name: Test cash management
        entry: bash -c 'cd dual_momentum_system && pytest tests/test_cash_management_integration.py::TestCashManagementIntegration::test_cash_never_goes_negative -v'
        language: system
        pass_filenames: false
        files: ^dual_momentum_system/src/backtesting/engine\.py$
      
      - id: check-test-coverage
        name: Check test coverage for modified files
        entry: bash -c 'cd dual_momentum_system && pytest --cov=src --cov-report=term-missing --cov-fail-under=70'
        language: system
        pass_filenames: false
        files: ^dual_momentum_system/src/.*\.py$
      
      - id: check-docstrings
        name: Check that tests have docstrings
        entry: python
        language: system
        pass_filenames: false
        files: ^dual_momentum_system/tests/test_.*\.py$
        args:
          - -c
          - |
            import ast
            import sys
            from pathlib import Path
            
            missing_docs = []
            for test_file in Path('dual_momentum_system/tests').rglob('test_*.py'):
                try:
                    tree = ast.parse(test_file.read_text())
                    for node in ast.walk(tree):
                        if isinstance(node, ast.FunctionDef) and node.name.startswith('test_'):
                            if not ast.get_docstring(node):
                                missing_docs.append(f'{test_file.name}::{node.name}')
                except SyntaxError:
                    continue
            
            if missing_docs:
                print('❌ Tests missing docstrings:')
                for item in missing_docs[:10]:
                    print(f'  - {item}')
                if len(missing_docs) > 10:
                    print(f'  ... and {len(missing_docs) - 10} more')
                sys.exit(1)

chore: make test runner path agnostic
  dual_momentum_system/run_tests.sh
Due: none

Checkpoint before follow-up message
  dual_momentum_system/constraints.txt
  scripts/update_doc_indexes.py
Due: none

fix(ci): restore constraints link and auto index
  docs/dual-momentum-system/reference/README.md
Due: none

feat: Add autonomous backtesting agent
  docs/dual-momentum-system/guides/autonomous-backtesting-agent.md
  dual_momentum_system/.coverage
  dual_momentum_system/README.md
  dual_momentum_system/run_autonomous_agent.py
  dual_momentum_system/src/agents/__init__.py
  dual_momentum_system/src/agents/autonomous_backtest_agent.py
  dual_momentum_system/tests/test_autonomous_agent.py
Due: check-test-coverage, check-docstrings

feat: Add CLI overrides for autonomous backtesting agent
  docs/dual-momentum-system/guides/autonomous-backtesting-agent.md
  dual_momentum_system/README.md
  dual_momentum_system/config/agent_config_example.json
  dual_momentum_system/run_autonomous_agent.py
Due: none

feat: Add autonomous agent to Streamlit UI
  docs/dual-momentum-system/guides/autonomous-backtesting-agent.md
  dual_momentum_system/README.md
  dual_momentum_system/frontend/app.py
  dual_momentum_system/frontend/page_modules/autonomous_agent.py
Due: none

Add backtest logs for DualMomentumStrategy
  dual_momentum_system/.coverage
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251102_061114.2025-11-02_06-11-27_779474.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251102_061114.2025-11-02_06-11-27_845622.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251102_061115.2025-11-02_06-11-19_543551.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251102_061115.2025-11-02_06-11-19_604748.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251102_061115.2025-11-02_06-11-19_605884.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251102_061115.2025-11-02_06-11-19_607190.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251102_061115.2025-11-02_06-11-19_608243.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251102_061116.2025-11-02_06-11-55_787139.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251102_061117.2025-11-02_06-11-58_067110.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251102_061118.2025-11-02_06-11-33_883408.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251102_061118.2025-11-02_06-11-33_948123.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251102_061119.2025-11-02_06-11-29_307458.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251102_061119.2025-11-02_06-11-29_370965.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251102_061119.2025-11-02_06-11-29_372104.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251102_061120.2025-11-02_06-11-38_191358.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251102_061120.2025-11-02_06-11-38_259572.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251102_061122.2025-11-02_06-11-41_283321.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251102_061122.2025-11-02_06-11-41_351355.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251102_061123.2025-11-02_06-11-43_559293.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251102_061123.2025-11-02_06-11-43_626514.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251102_061125.2025-11-02_06-11-46_783253.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251102_061125.2025-11-02_06-11-46_853230.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251102_061127.2025-11-02_06-11-50_375208.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251102_061127.2025-11-02_06-11-50_446223.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251102_061129.2025-11-02_06-11-53_975163.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251102_061129.2025-11-02_06-11-54_047735.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251102_061131.2025-11-02_06-11-57_163121.log.zip
  dual_momentum_system/logs/backtest_DualMomentumStrategy_20251102_061131.2025-11-02_06-11-57_232079.log.zip
Due: none

Add performance charts and method comparison to autonomous agent page
  dual_momentum_system/.coverage
  dual_momentum_system/frontend/page_modules/autonomous_agent.py
Due: none

Add documentation tests and update README
  README.md
  dual_momentum_system/pytest.ini
  dual_momentum_system/tests/test_documentation.py
Due: check-docstrings

Add backtest results navigation from autonomous agent
  dual_momentum_system/.coverage
  dual_momentum_system/frontend/page_modules/autonomous_agent.py
Due: none

feat: Add progress reporting for autonomous agent
  dual_momentum_system/frontend/page_modules/autonomous_agent.py
  dual_momentum_system/src/agents/autonomous_backtest_agent.py
  dual_momentum_system/src/backtesting/hyperparameter_tuner.py
Due: check-test-coverage

feat: Enhance hyperparameter tuner with detailed progress
  dual_momentum_system/frontend/page_modules/autonomous_agent.py
  dual_momentum_system/src/backtesting/hyperparameter_tuner.py
Due: check-test-coverage

Add benchmark risk metrics to backtest results
  dual_momentum_system/frontend/page_modules/backtest_results.py
Due: none

Refactor backtest results to compare strategy and benchmark metrics
  dual_momentum_system/frontend/page_modules/backtest_results.py
Due: none

Update ASSET_UNIVERSES.yaml
  dual_momentum_system/config/ASSET_UNIVERSES.yaml
Due: none

Add checks for missing best parameters and backtest results
  dual_momentum_system/frontend/page_modules/hyperparameter_tuning.py
Due: none

Add average drawdown metric and tests
  dual_momentum_system/src/backtesting/performance.py
  dual_momentum_system/tests/test_performance_calculator.py
Due: check-test-coverage, check-docstrings

Update backtest
  dual_momentum_system/config/ASSET_UNIVERSES.yaml
  dual_momentum_system/config/STRATEGIES.yaml
  dual_momentum_system/examples/api_usage_example.py
  dual_momentum_system/examples/strategy_comparison_example.py
  dual_momentum_system/requirements.txt
  dual_momentum_system/run_api.bat
  dual_momentum_system/run_api.sh
  dual_momentum_system/src/agents/README.md
  dual_momentum_system/src/agents/__init__.py
  dual_momentum_system/src/agents/strategy_comparison_agent.py
  dual_momentum_system/src/api/README.md
  dual_momentum_system/src/api/__init__.py
  dual_momentum_system/src/api/api_server.py
  dual_momentum_system/src/api/main.py
  dual_momentum_system/src/api/serializers.py
  logs/backtest_AbsoluteMomentumStrategy_20251119_165548.log
  logs/backtest_AbsoluteMomentumStrategy_20251119_165555.log
  logs/backtest_AbsoluteMomentumStrategy_20251119_165601.log
  logs/backtest_DualMomentumStrategy_20251119_165549.log
  logs/backtest_DualMomentumStrategy_20251119_165552.log
  logs/backtest_DualMomentumStrategy_20251119_165556.log
  logs/backtest_DualMomentumStrategy_20251119_165559.log
  logs/backtest_DualMomentumStrategy_20251119_165600.log
  logs/backtest_DualMomentumStrategy_20251119_165601.log
  logs/backtest_DualMomentumStrategy_20251119_165604.log
  logs/backtest_DualMomentumStrategy_20251119_165607.log
  logs/backtest_DualMomentumStrategy_20251119_165609.log
  logs/backtest_DualMomentumStrategy_20251119_165612.log
Due: check-test-coverage
